EJERCICIOS DE BBDD Y NORMALIZACIÓN

Haz un esquema (puede ser en papel) que resuelva los conflictos en la siguiente tabla:

Pedidos:

| id_pedido | id_cliente | nombre_cliente  | id_artículo | artículo_marca    | cantidad | precio_unitario |
|-----------|------------|-----------------|-------------|-------------------|----------|-----------------|
| 1         | 101        | Patricia Díaz   | 1           | chaqueta, marca A | 2        | 29              |
| 2         | 102        | Marta Gutierrez | 2           | chaqueta, marca B | 5        | 37              |
| 3         | 103        | Cristina López  | 3           | pantalón, marca C | 3        | 42              |
| 3         | 103        | Cristina López  | 2           | chaqueta, marca B | 1        | 37              |

En primer lugar definimos los problemas que vemos en esta tabla:

1. Los datos no son atómicos.

2. No hay Primary Key.

3. Varias columnas tienen dependencias.

Tabla clientes:

| id_cliente | nombre    |  apellido |
|------------|-----------|-----------|
| 101        | Patricia  | Díaz      |
| 102        | Marta     | Gutiérrez |
| 103        | Cristina  | López     |

Tabla artículos:

| id_artículo | artículo | marca   | precio_unitario |
|-------------|----------|---------|-----------------|
| 1           | chaqueta | marca A | 29              |
| 2           | chaqueta | marca B | 37              |
| 3           | pantalón | marca C | 42              |

Tabla pedidos:

| id_pedido | id_cliente | id_artículo | cantidad |
|-----------|------------|-------------|----------|
| 1         | 101        | 1           | 2        |
| 2         | 102        | 2           | 5        |
| 3         | 103        | 3           | 3        |
| 3         | 103        | 2           | 1        |